@font-face {
  font-family: 'Cinzel Decorative';
  font-weight: normal, bold;
  src: url('./assets/fonts/CinzelDecorative-Regular.ttf'),
    url('./assets/fonts/CinzelDecorative-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  &:not(:disabled):hover {
    cursor: pointer;
  }
}